<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="filePath" value="leaderboard.txt" />
    <add key="minimumVictoryScore" value="10" />
    <add key="scorePerCorrectGuess" value="1" />
    <add key="maximumNicknameLength" value="32" />
    <add key="maximumTopScoresToShow" value="3" />
    <add key="minimumGeneratedNumber" value="1" />
    <add key="maximumGeneratedNumber" value="100" />
  </appSettings>
</configuration>